.listContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.listSearch{
    flex: 1.6;
    background-color: #5077b2;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    margin-top: 20px;
    height: max-content;
}

.lsTitle{
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.lsItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.lsItem>label{
    font-size: 14px;
}

.lsItem>input{
    height: 30px;
    border: none;
    padding: 5px;
}

.lsItem>span{
    height: 30px;
    padding: 5px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.listResult{
    flex: 3;
}

.listSearch>button{
    padding: 10px;
    background-color: #3f9bf1;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 100%;
    font-weight: 500;
    cursor: pointer;
}